body{
    width: 600px;
    margin: 0 auto;
}


* {
    text-decoration: none;
}

img{
    max-width: 600px;
    max-height: 600px;
}

#mask {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;

    background-color: black;
}

.modal_window {
    position: absolute;
    display: none;

    color: white;
}

#modal_window {
    padding: 50px;
    border: 1px solid gray;
    background: #246493;
    color: black;
}
